.Outter2{
    margin: 20px 0 0 0 ;
}
.headerContact{
    background-color: rgb(0, 255, 179);
    height: 40px;
    display: flex !important;
    align-items: center !important;
}
.headers{
color: black !important;
font-weight: bolder;
}
.DataRow{
margin: 2px auto !important;
}