.OuterBody{
    /* background-color: rgb(0, 0, 0); */
    width: 100%;
    color: white;

    height: 100vh;
}

.heading{
    text-align: center;
    margin: 55px auto 10px auto;
}
*{
    /* border: 1px solid grey; */
}
